.control-panel{

}

.control-panel__person {
    color: white;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-rows: repeat(2,minmax(0,1fr));
}

.control-panel__person img {
    grid-area: 1/1/3/2;
    border: 3px solid white;
    border-radius: 50%;
}

.control-panel__person p {
    grid-area: 1/2/2/3;
}

.control-panel__person h3 {
    grid-area: 2/2/3/3;
}